@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Project_PRN.Models;


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>KOF</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/style.css">
    <!--logo-->
    <link rel="icon" href="images/logo.svg">
    <style>
        .navbar-light .nav-link {
            color: black !important;
        }
    </style>


</head>
<body>

    <header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block" style="z-index: 2000;">
            <div class="container-fluid">

                <!-- Navbar brand -->
                <a class="navbar-brand nav-link" asp-controller="Product" asp-action="Index">
                    <img src="/Images/logo.svg" width="50" class="rounded-circle" alt="alt" />
                </a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" asp-controller="Product" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#category" rel="nofollow">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about-us">About Us</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="#" rel="nofollow">
                                <span>Love Miu</span>   <img src="/images/Meo-Ngao.jpg" width="50" class="rounded-circle" alt="none" />
                            </a>
                        </li>
                       @* <li class="nav-item me-3 me-lg-0">
                            <a class="nav-link" href="signup.html" rel="nofollow">
                                <span>Register</span>
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
    </header>

    <main role="main">
        <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
        <div class="container mt-4">
            <div id="thongbao" class="alert alert-danger d-none face" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <h1 class="text-center">Cart</h1>
            <div class="row">
                <div class="col col-md-12 pb-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Product's Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody id="datarow">

                            @*<c:if test="${carts.size() > 0}">*@

                              @*  <c:forEach var="i" begin="${0}" end="${carts.size() - 1}">*@

                                  @foreach(Cart c in ViewBag.Carts) {

                                    <tr>
                                        <td>@c.CartId</td>

                                        @*<c:forEach items="${productList}" var="p">
                                            <c:if test="${carts.get(i).getProductId() == p.getProductId()}">*@

                                                <td>
                                                    <img src="@c.Product.Image" style="height:100px" class="hinhdaidien">
                                                </td>
                                                <td>@c.Product.ProductName </td>
                                                <td class="text-right">@c.CartQuantity</td>
                                                <td class="text-right">@c.Product.ProductPrice</td>
                                                <td class="text-right">@(c.CartQuantity * c.Product.ProductPrice) $</td>
                                                <td>
                                                    <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `sp_ma` -->
                                                    <a asp-controller="Product" asp-route-cartId="@c.CartId" asp-action="Delete" class="btn btn-danger btn-delete-sanpham">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                </td>

                                           @* </c:if>
                                        </c:forEach>*@

                                    </tr>

                               @* </c:forEach>
                            </c:if>*@
                            }
                        </tbody>
                    </table>

                    <div class="d-flex">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-warning m-2">
                            <i class="fa fa-arrow-left"
                               aria-hidden="true"></i>Go Home
                        </a>

                        <a asp-controller="Product" asp-action="CheckOut" class="btn btn-primary m-2">
                            <i class="fa fa-shopping-cart m-0"></i>
                            Order
                        </a>
                        
                        <div class="d-flex flex-row-reverse align-items-center flex-fill">
                            <h3 class="m-0">Your Bill: <strong class="text-danger">@ViewBag.Bill $</strong></h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End block content -->
    </main>

    <!--Footer-->
    <footer class="bg-light text-lg-start">
        <hr class="m-0" />

        <div class="text-center py-4 align-items-center">
            <p>Follow TeamThieuNang on social media</p>
            <a class="btn btn-primary m-1"
               role="button" rel="nofollow" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-primary m-1" role="button" rel="nofollow"
               target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-primary m-1" role="button"
               rel="nofollow" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #fff;">
            © 2022 Copyright:
            <a class="text-dark">TeamThieuNang.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!--Footer-->

</body>

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
<script src="https://kit.fontawesome.com/150675defe.js" crossorigin="anonymous"></script>

</html>
